
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Readinghood-Payment</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="/static/images/readinghood.jpg"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;Place order</div>
	</div>
	

	<h3 class="common_title">Books list</h3>s
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">Book name</li>
			<li class="col03">Book price</li>
			<li class="col04">Count</li>
			<li class="col05">Sum</li>
		</ul>

		{% for cart_books in cart_books_list %}
        <ul class="goods_list_td clearfix">
			<li class="col01">1</li>			
			<li class="col02"><img src="/static/{{ cart_books.books_img }}"></li>
			<li class="col03">{{ cart_books.books_name }}</li>
			<li class="col05">{{ cart_books.books_price }}</li>
			<li class="col06">{{ cart_books.books_num }}</li>
			<li class="col07">{{ cart_books.total_money }}</li>
		</ul>
        {% endfor %}

        

	</div>

	<h3 class="common_title">Address</h3>
    <form action="/cart/submit_order/" method="post">
	{% csrf_token %}
	<div class="common_list_con clearfix">
		<dl>
			<dd>
				<table>
					<tr>
						<td>Shipping Address:</td><td><input style="width: 350px; height: 23px;" type="text" name="addr"></td>
					</tr>
					<tr>
						<td>Name:</td><td><input style="width: 350px; height: 23px;" type="text" name="recv"></td>
					</tr>
					<tr>
						<td>Telephone:</td><td><input style="width: 350px; height: 23px;" type="text" name="tele"></td>
					</tr>
					<tr>
						<td>Extra:</td><td><textarea style="width: 350px; height: 100px; font-size: 12px;" name="extra"></textarea></td>
					</tr>
				</table>
			</dd>
		</dl>
	</div>

	<h3 class="common_title">Payment method</h3>
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">Credit card</label>
		</div>
	</div>

	<h3 class="common_title">Total</h3>
	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count"><em>{{ cart_books_count }}</em>items，Total<b>{{ cart_books_money }}</b></div>
			<div class="transit">Delivery fee：<b>10</b></div>
			<div class="total_pay">Sum：<b>{{ cart_books_money|add:10 }}</b></div>
		</div>
	</div>


	<div class="order_submit clearfix">
        <input type="submit" value="Submit order"/>
	</div>	
    </form>

<!--	<div class="footer">-->
<!--		<div class="foot_link">-->
<!--			<a href="#">关于我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">联系我们</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">招聘人才</a>-->
<!--			<span>|</span>-->
<!--			<a href="#">友情链接</a>		-->
<!--		</div>-->
<!--		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>-->
<!--		<p>电话：010-****888    京ICP备*******8号</p>-->
<!--	</div>-->

<!--	<div class="popup_con">-->
<!--		<div class="popup">-->
<!--			<p>订单提交成功！</p>-->
<!--		</div>-->
<!--		-->
<!--		<div class="mask"></div>-->
<!--	</div>-->
</body>
</html>